.main {
	padding: 70px 40px 20px 40px;
}

.container {
	margin-top: 80px;
	margin-bottom: 80px;
	width: 1000px;
	min-height: 75vh;
	border-bottom: 6px solid rgba(255,255,255, 0.15);
	border-right: 6px solid rgba(255,255,255, 0.15);
	border-left: 6px solid rgba(255,255,255, 0.15);
	border-radius: 6px;
	position: relative;
}

.container.large {
	max-width: 1300px;
	width: 80vw;
}

.container.large {
  max-width: 1300px;
  width: 80vw;
  margin-top: 80px;
  margin-bottom: 50px;
}

.logo {
	top: -65px;
	left: 50%;
	transform: translate(-50%, 0);
	position: absolute;
	width: 220px;
}

.border-top-left, .border-top-right  {
	position: absolute;
	border-bottom: 6px solid rgba(255,255,255, 0.15);
	width: 30%;
	border-radius: 6px;
}

.border-top-left {
	border-radius: 0 6px 6px 0;
}

.border-top-right {
	right: 0;
	border-radius: 6px 0 0 6px;
}

@media screen and (max-width: 1280px) {
  .container {
    width: 80vw;
  }

  .container.large {
    width: 90vw;
  }

  .border-top-left, .border-top-right  {
    width: 25%;
  }
}

@media screen and (max-width: 640px) {
  .container {
    width: 95vw;
    min-height: 80vh;
    margin-bottom: 20px;
  }
  
  .logo {
    width: 175px;
  }

  .main {
    padding-left: 15px;
    padding-right: 15px;
  }

  .border-top-left, .border-top-right  {
    width: 20%;
  }
}
